@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600&display=swap');


* {
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
}

body {
    background-color: #F6F6F6;
    margin: 0;
}

.large {
    font-size: 40px;
    padding: 20px 0px;
}

.medium {
    font-size: 25px;
}

.small {
    font-size: 20px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    border: 3px solid #506F7C;
    border-radius: 0px 0px 40px 40px;
    padding: 20px 40px;
}

.nav {
    margin-left: auto;
}

.nav-link {
    margin-left: 10px;
    color: #506F7C;
}

.drop-shadow{
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

.border {
    border: 3px solid #506F7C;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #F6F6F6;
    padding: 20px;
    border-radius: 40px;
}

.toggle, .radio {
    border: 3px solid #506F7C;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 40px;
    margin: 5px;
    display: inline-block;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

.languages-selected {
    background-color: #506F7C;
    color: #f6f6f6;
    border-radius: 40px;
    border: 3px solid #506F7C;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 10px;
    border-radius: 40px;
    margin: 5px;
    display: inline-block;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}
.filled {
    background-color: #506F7C;
    color: #F6F6F6;
    border-radius: 40px;
    border: 3px solid #506F7C;
}
.unfilled {
    color: black;
}
.center-large {
    width: 70%;
    margin: 0 auto;
}
.center-small {
    width: 40%;
    margin: 0 auto;
}
.isolated {
    margin-top: 50px;
}
.fullscreen {
    height: 100vh;
}
input[type="password"], input[type="text"], textarea {
    resize: none;
    background: #F6F6F6;
    border: 3px solid #506F7C;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: block;
    width: 100%;
    padding: 20px;
    margin: 40px 0px;
}
input[type="checkbox"], input[type="radio"] {
    display: none;
}

.center-container {
    width: 100%;
    text-align: center;
    margin: 40px 0px;
}

.dual-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.img-container{
    display: inline-block;
    vertical-align: middle;
}

.img-container img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}


.stage2 {
    display: none;
}
.user-error {
    color: #cf4242;
    font-weight: bold;
    margin: 5px 0px;
    text-align: center;
}
.user-success {
    color: #36b338;
    font-weight: bold;
    margin: 5px 0px;
    text-align: center;
}
button, input[type="submit"], a.filled {
    font-size: 30px;
    padding: 20px;
    display: inline-block;
}
#post-type {
    margin: 10px 0px;
}

.languages {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    overflow-x: scroll;
    white-space: nowrap;
}
.languages::-webkit-scrollbar {
    display: none;
  }
.post {
    display: grid;
    grid-template-columns: 100px 1fr 150px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 40px;
}
.upvote-container {
    text-align: center;
}
.upvote-button {
    padding: 0;
    margin: 0;
    background-color: #F6F6F6;
    border: none;
    outline: none;
    cursor: pointer;
}
.fa-arrow-up {
    color: #F6F6F6;
    font-size: 40px;
    background-color: #506F7C;
    border-radius: 40px;
    padding: 20px;
}
.title {
    color: black;
}
.author {
    text-align: right;
}
.author::before {
    content: "@";
}